*{
    margin: 0px;
}

body{
 height: 100%;
    text-align: right;
  
    margin: 0px;
}


.speaker{
  border: 1px solid snow;
  background-color: #FEDB4B;
margin-left: 20px;
padding: 10px;
font-style: normal;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: snow;
font-size: 30px;
}
.nav {
  margin-top: 0px;
    border: 5px solid #FEDB4B;
    background-color: #FEDB4B;
    padding: 3px;
    justify-content: right;
  
}
.flex-sm-fill{
    color:white ;
    font-size: 23px;
    margin: 0px;
    margin-top: 10px;
}
.logo{
    margin-top: 0px;
    margin-right: 10px;
}














table{
  align-items: center;
  width: 80%;
  height: 80%;
  text-align: center;
  margin-right: 250px;
  margin-bottom: 80px;
  margin-left: 50px;
  margin-top: 270x         ;

}
 

.box{
  border: 2px solid darkblue;
  background-color: white;
  width: 80%;
  align-items: center;
  border-radius: 20px;
  box-shadow:1px 1px gray;
  text-align: right;
  margin-bottom: 50px;
  padding: 30px;
  -webkit-animation: slit-in-horizontal 0.5s ease-out both;
  animation: slit-in-horizontal 0.5s ease-out both;
}

@-webkit-keyframes slit-in-horizontal {
  0% {
    -webkit-transform: translateZ(-800px) rotateX(90deg);
            transform: translateZ(-800px) rotateX(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateX(87deg);
            transform: translateZ(-160px) rotateX(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateX(0);
            transform: translateZ(0) rotateX(0);
  }
}
@keyframes slit-in-horizontal {
  0% {
    -webkit-transform: translateZ(-800px) rotateX(90deg);
            transform: translateZ(-800px) rotateX(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateX(87deg);
            transform: translateZ(-160px) rotateX(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateX(0);
            transform: translateZ(0) rotateX(0);
  }
}


.box:hover{
  -webkit-animation: shadow-drop-2-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: shadow-drop-2-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}


.icons{ 

  border:2px thin black;
  border-radius: 50px;
vertical-align: middle;
border: 2px  thin black;
border-radius: 60px;
box-shadow: 7px black;
  

}

.iconlink{
  color: gray;
  font-size: 40px;
  margin-right: 20px;
}


.d-block{
  height: 300px;
  margin-bottom: 260px;
}


          .display-4{
            font-family: 'Cairo', sans-serif;

            font-weight:500px;
            color: white; }

          
            @-webkit-keyframes bg-pan-br {
              0% {
                background-position: 0% 0%;
              }
              100% {
                background-position: 100% 100%;
              }
            }
            @keyframes bg-pan-br {
              0% {
                background-position: 0% 0%;
              }
              100% {
                background-position: 100% 100%;
              }
            }

          

